/* CLASES*/

/*.container{
    display: inline;
}
*/
.blockhonolulu{
    position: absolute;
    display: block;
    width: 1000px;
    height: 571px;
    background-color: rgb(68, 73, 78);
    left: -250px;
}


.bsasoctubre{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2.5em;
    font-weight: 500;
    color: white;
}

.bsasoctutext{
    position: absolute;
    top: 80px;
    left: 10px;
    color: white;
    font-size: 1.3em;
}

.btn-comprar{
    position: relative;
    height: 2.5em;
    width: 10em;
    font-size: 24px;
    font-weight: 500;
    color: white;
    background: green;
    border-radius:10px;
    top: 28%;
    left: 45%;
    
}


.btn-quiero{
    position: relative;
    height: 2.5em;
    width: 10em;
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    background: transparent;
    border-radius:10px;
    border-color: white;
    border-width: 0.2em;
    
    right: -40%;
}


.btnjava{
    background: yellow;
    color: black;
    font-weight: 800;
    border: none;
    border-radius: 5px;
}

.btnnegocios{
    background: rgb(131, 131, 131);
    color: rgb(253, 252, 252);
    font-weight: 800;
    border: none;
    border-radius: 5px;
}

.btnreact{
    background: rgb(1, 156, 184);
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 5px;
}

.btnstartups{
    background: rgb(255, 0, 76);
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 5px;
}

.card{
    position: absolute;
    top: 10em;
    left: -8.2em;
}

.card1{
    position: absolute;
    top: 77.5em;
    left: 42em;
}

.card2{
    position: absolute;
    top: 0em;
    left: 30em;
}

.container{
    display: block;
}










.confmenu{
    font-size: 20em;
    font-weight: ;
}

.conoce{
    text-align: center;
    font-size: 1em;
    margin: 1em;
}

.conoceoradores1{
    position: absolute;
    top: 68em;
    text-align: auto;
    left: 47em;
    
}

.fondo-imagen{
    /*background-image: url("\img\honolulu.jpg");*/
    background-color: darkgray;
}

.fondo-menu{
    background-color: #353A40;
    width: 100%;
}

.hijo {
    background-color: transparent;
    border-color: white;
    border-width: 20px;
    padding: 10px;
    margin: 10px;
    
    /* IMPORTANTE */
    display: inline-block;
  }

.hijo1 {
    background-color: green;
    padding: 10px;
    margin: 10px;
    
    
    /* IMPORTANTE */
    display: inline-block;
}

.honolulu{
    position: absolute;
    display: inline;
    width: 900px;
    left: -1150px;
}

.image {
    position: absolute;
    width: 100%; /* for IE 6 */
    left: 0px;
       
    }

.imgcodo{
    position: relative;
    width: 100px;
    
}

.list-group{
    position: relative;
    font-size: 1.5em;
    left: 20em;
    margin-top: 1em;

}

.list-group-item1{
    font-size: 1em;
    margin: 1em;
    color: white;
}

.list-group-item2{
    position: absolute;
    font-size: 1em;
    margin: 1em;
    color: aquamarine;
    left: 3 0em;
}

.list-group-item1:hover{
    color: brown;
}

.list-group-item2:hover{
    color: brown;
}

.menu{
    position: relative;
    
    display: block;
    background-color: rgb(108, 117, 125);
    font-size: 16px;
    top: 12%;
    
}

.oradores{
    text-align: center;
    font-size: 2.5em;
    font-weight: 500 ;
    margin: -0.5em;
}

.padre {
    /* IMPORTANTE */
    position: absolute;
    text-align: center;
    top: 1300px;
    left: 1300px;
    font-size: 1.5em;
    font-weight: 600;
    color: white;
  }

.principal{
    background-image:url(\img\codoacodo.png);
}


.navcomprar{
    color: green;
}

.txt-bsas{
    position: relative;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    top: 25%;
    right: 10%;
    color: white;
}

.txt-conf{
    position: relative;
    font-size: 40px;
    font-weight: 500;
    text-align: right;
    color: white;
    right:  10%;
    top: 25%;
}

.txt-confbsas{
    position: relative  ;
    top: 15%;
    font-size: 20px;
    font-weight: 400;
    
}
/*ETIQUETAS*/

/*body{
    background-image:url("\img\ba1.jpg");
}
*/

h1{
    color: white;
}



html {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}


ul{
    color: white;
    list-style-type: none;
    display: inline;
}

#lista1 li {
    display:inline;
    padding-left:3px;
    padding-right:3px;
   background-color:black;
}


  
  